/* AndyUS.css is a CSS created by realandychang.us and open source for everyone to use */
/*We authorize everyone to use AndyUS.css without any credit point to us */
/*Our support are available at andyc@realandychang.us! */
/*To use this CSS, you need to create a stylesheet and point it to https://realandychang.us/css/andyus/v1.css */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.ac-serif{font-family:serif}.ac-sans-serif{font-family:sans-serif}.ac-cursive{font-family:cursive}.ac-monospace{font-family:monospace}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.ac-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.ac-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.ac-table,.ac-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.ac-table-all{border:1px solid #ccc}
.ac-bordered tr,.ac-table-all tr{border-bottom:1px solid #ddd}.ac-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.ac-table-all tr:nth-child(odd){background-color:#fff}.ac-table-all tr:nth-child(even){background-color:#f1f1f1}
.ac-hoverable tbody tr:hover,.ac-ul.ac-hoverable li:hover{background-color:#ccc}.ac-centered tr th,.ac-centered tr td{text-align:center}
.ac-table td,.ac-table th,.ac-table-all td,.ac-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.ac-table th:first-child,.ac-table td:first-child,.ac-table-all th:first-child,.ac-table-all td:first-child{padding-left:16px}
.ac-btn,.ac-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.ac-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.ac-btn,.ac-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.ac-disabled,.ac-btn:disabled,.ac-button:disabled{cursor:not-allowed;opacity:0.3}.ac-disabled *,:disabled *{pointer-events:none}
.ac-btn.ac-disabled:hover,.ac-btn:disabled:hover{box-shadow:none}
.ac-badge,.ac-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.ac-badge{border-radius:50%}
.ac-ul{list-style-type:none;padding:0;margin:0}.ac-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.ac-ul li:last-child{border-bottom:none}
.ac-tooltip,.ac-display-container{position:relative}.ac-tooltip .ac-text{display:none}.ac-tooltip:hover .ac-text{display:inline-block}
.ac-ripple:active{opacity:0.5}.ac-ripple{transition:opacity 0s}
.ac-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.ac-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.ac-dropdown-click,.ac-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.ac-dropdown-hover:hover .ac-dropdown-content{display:block}
.ac-dropdown-hover:first-child,.ac-dropdown-click:hover{background-color:#ccc;color:#000}
.ac-dropdown-hover:hover > .ac-button:first-child,.ac-dropdown-click:hover > .ac-button:first-child{background-color:#ccc;color:#000}
.ac-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.ac-check,.ac-radio{width:24px;height:24px;position:relative;top:6px}
.ac-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.ac-bar-block .ac-dropdown-hover,.ac-bar-block .ac-dropdown-click{width:100%}
.ac-bar-block .ac-dropdown-hover .ac-dropdown-content,.ac-bar-block .ac-dropdown-click .ac-dropdown-content{min-width:100%}
.ac-bar-block .ac-dropdown-hover .ac-button,.ac-bar-block .ac-dropdown-click .ac-button{width:100%;text-align:left;padding:8px 16px}
.ac-main,#main{transition:margin-left .4s}
.ac-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.ac-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.ac-bar{width:100%;overflow:hidden}.ac-center .ac-bar{display:inline-block;width:auto}
.ac-bar .ac-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.ac-bar .ac-dropdown-hover,.ac-bar .ac-dropdown-click{position:static;float:left}
.ac-bar .ac-button{white-space:normal}
.ac-bar-block .ac-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.ac-bar-block.ac-center .ac-bar-item{text-align:center}.ac-block{display:block;width:100%}
.ac-responsive{display:block;overflow-x:auto}
.ac-container:after,.ac-container:before,.ac-panel:after,.ac-panel:before,.ac-row:after,.ac-row:before,.ac-row-padding:after,.ac-row-padding:before,
.ac-cell-row:before,.ac-cell-row:after,.ac-clear:after,.ac-clear:before,.ac-bar:before,.ac-bar:after{content:"";display:table;clear:both}
.ac-col,.ac-half,.ac-third,.ac-twothird,.ac-threequarter,.ac-quarter{float:left;width:100%}
.ac-col.s1{width:8.33333%}.ac-col.s2{width:16.66666%}.ac-col.s3{width:24.99999%}.ac-col.s4{width:33.33333%}
.ac-col.s5{width:41.66666%}.ac-col.s6{width:49.99999%}.ac-col.s7{width:58.33333%}.ac-col.s8{width:66.66666%}
.ac-col.s9{width:74.99999%}.ac-col.s10{width:83.33333%}.ac-col.s11{width:91.66666%}.ac-col.s12{width:99.99999%}
@media (min-width:601px){.ac-col.m1{width:8.33333%}.ac-col.m2{width:16.66666%}.ac-col.m3,.ac-quarter{width:24.99999%}.ac-col.m4,.ac-third{width:33.33333%}
.ac-col.m5{width:41.66666%}.ac-col.m6,.ac-half{width:49.99999%}.ac-col.m7{width:58.33333%}.ac-col.m8,.ac-twothird{width:66.66666%}
.ac-col.m9,.ac-threequarter{width:74.99999%}.ac-col.m10{width:83.33333%}.ac-col.m11{width:91.66666%}.ac-col.m12{width:99.99999%}}
@media (min-width:993px){.ac-col.l1{width:8.33333%}.ac-col.l2{width:16.66666%}.ac-col.l3{width:24.99999%}.ac-col.l4{width:33.33333%}
.ac-col.l5{width:41.66666%}.ac-col.l6{width:49.99999%}.ac-col.l7{width:58.33333%}.ac-col.l8{width:66.66666%}
.ac-col.l9{width:74.99999%}.ac-col.l10{width:83.33333%}.ac-col.l11{width:91.66666%}.ac-col.l12{width:99.99999%}}
.ac-rest{overflow:hidden}.ac-stretch{margin-left:-16px;margin-right:-16px}
.ac-content,.ac-auto{margin-left:auto;margin-right:auto}.ac-content{max-width:980px}.ac-auto{max-width:1140px}
.ac-cell-row{display:table;width:100%}.ac-cell{display:table-cell}
.ac-cell-top{vertical-align:top}.ac-cell-middle{vertical-align:middle}.ac-cell-bottom{vertical-align:bottom}
.ac-hide{display:none!important}.ac-show-block,.ac-show{display:block!important}.ac-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.ac-auto{max-width:95%}}
@media (max-width:600px){.ac-modal-content{margin:0 10px;width:auto!important}.ac-modal{padding-top:30px}
.ac-dropdown-hover.ac-mobile .ac-dropdown-content,.ac-dropdown-click.ac-mobile .ac-dropdown-content{position:relative}	
.ac-hide-small{display:none!important}.ac-mobile{display:block;width:100%!important}.ac-bar-item.ac-mobile,.ac-dropdown-hover.ac-mobile,.ac-dropdown-click.ac-mobile{text-align:center}
.ac-dropdown-hover.ac-mobile,.ac-dropdown-hover.ac-mobile .ac-btn,.ac-dropdown-hover.ac-mobile .ac-button,.ac-dropdown-click.ac-mobile,.ac-dropdown-click.ac-mobile .ac-btn,.ac-dropdown-click.ac-mobile .ac-button{width:100%}}
@media (max-width:768px){.ac-modal-content{width:500px}.ac-modal{padding-top:50px}}
@media (min-width:993px){.ac-modal-content{width:900px}.ac-hide-large{display:none!important}.ac-sidebar.ac-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.ac-hide-medium{display:none!important}}
@media (max-width:992px){.ac-sidebar.ac-collapse{display:none}.ac-main{margin-left:0!important;margin-right:0!important}.ac-auto{max-width:100%}}
.ac-top,.ac-bottom{position:fixed;width:100%;z-index:1}.ac-top{top:0}.ac-bottom{bottom:0}
.ac-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.ac-display-topleft{position:absolute;left:0;top:0}.ac-display-topright{position:absolute;right:0;top:0}
.ac-display-bottomleft{position:absolute;left:0;bottom:0}.ac-display-bottomright{position:absolute;right:0;bottom:0}
.ac-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.ac-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.ac-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.ac-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.ac-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.ac-display-container:hover .ac-display-hover{display:block}.ac-display-container:hover span.ac-display-hover{display:inline-block}.ac-display-hover{display:none}
.ac-display-position{position:absolute}
.ac-circle{border-radius:50%}
.ac-round-small{border-radius:2px}.ac-round,.ac-round-medium{border-radius:4px}.ac-round-large{border-radius:8px}.ac-round-xlarge{border-radius:16px}.ac-round-xxlarge{border-radius:32px}
.ac-row-padding,.ac-row-padding>.ac-half,.ac-row-padding>.ac-third,.ac-row-padding>.ac-twothird,.ac-row-padding>.ac-threequarter,.ac-row-padding>.ac-quarter,.ac-row-padding>.ac-col{padding:0 8px}
.ac-container,.ac-panel{padding:0.01em 16px}.ac-panel{margin-top:16px;margin-bottom:16px}
.ac-code,.ac-codespan{font-family:Consolas,"courier new";font-size:16px}
.ac-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.ac-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.ac-card,.ac-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.ac-card-4,.ac-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.ac-spin{animation:ac-spin 2s infinite linear}@keyframes ac-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.ac-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.ac-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.ac-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.ac-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.ac-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.ac-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.ac-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.ac-animate-input{transition:width 0.4s ease-in-out}.ac-animate-input:focus{width:100%!important}
.ac-opacity,.ac-hover-opacity:hover{opacity:0.60}.ac-opacity-off,.ac-hover-opacity-off:hover{opacity:1}
.ac-opacity-max{opacity:0.25}.ac-opacity-min{opacity:0.75}
.ac-greyscale-max,.ac-grayscale-max,.ac-hover-greyscale:hover,.ac-hover-grayscale:hover{filter:grayscale(100%)}
.ac-greyscale,.ac-grayscale{filter:grayscale(75%)}.ac-greyscale-min,.ac-grayscale-min{filter:grayscale(50%)}
.ac-sepia{filter:sepia(75%)}.ac-sepia-max,.ac-hover-sepia:hover{filter:sepia(100%)}.ac-sepia-min{filter:sepia(50%)}
.ac-tiny{font-size:10px!important}.ac-small{font-size:12px!important}.ac-medium{font-size:15px!important}.ac-large{font-size:18px!important}
.ac-xlarge{font-size:24px!important}.ac-xxlarge{font-size:36px!important}.ac-xxxlarge{font-size:48px!important}.ac-jumbo{font-size:64px!important}
.ac-left-align{text-align:left!important}.ac-right-align{text-align:right!important}.ac-justify{text-align:justify!important}.ac-center{text-align:center!important}
.ac-border-0{border:0!important}.ac-border{border:1px solid #ccc!important}
.ac-border-top{border-top:1px solid #ccc!important}.ac-border-bottom{border-bottom:1px solid #ccc!important}
.ac-border-left{border-left:1px solid #ccc!important}.ac-border-right{border-right:1px solid #ccc!important}
.ac-topbar{border-top:6px solid #ccc!important}.ac-bottombar{border-bottom:6px solid #ccc!important}
.ac-leftbar{border-left:6px solid #ccc!important}.ac-rightbar{border-right:6px solid #ccc!important}
.ac-section,.ac-code{margin-top:16px!important;margin-bottom:16px!important}
.ac-margin{margin:16px!important}.ac-margin-top{margin-top:16px!important}.ac-margin-bottom{margin-bottom:16px!important}
.ac-margin-left{margin-left:16px!important}.ac-margin-right{margin-right:16px!important}
.ac-padding-small{padding:4px 8px!important}.ac-padding{padding:8px 16px!important}.ac-padding-large{padding:12px 24px!important}
.ac-padding-16{padding-top:16px!important;padding-bottom:16px!important}.ac-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.ac-padding-32{padding-top:32px!important;padding-bottom:32px!important}.ac-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.ac-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.ac-padding-top-64{padding-top:64px!important}.ac-padding-top-48{padding-top:48px!important}
.ac-padding-top-32{padding-top:32px!important}.ac-padding-top-24{padding-top:24px!important}
.ac-left{float:left!important}.ac-right{float:right!important}
.ac-button:hover{color:#000!important;background-color:#ccc!important}
.ac-transparent,.ac-hover-none:hover{background-color:transparent!important}
.ac-hover-none:hover{box-shadow:none!important}
/* Colors */
.ac-amber,.ac-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.ac-aqua,.ac-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.ac-blue,.ac-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.ac-light-blue,.ac-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.ac-brown,.ac-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.ac-cyan,.ac-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.ac-blue-grey,.ac-hover-blue-grey:hover,.ac-blue-gray,.ac-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.ac-green,.ac-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.ac-light-green,.ac-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.ac-indigo,.ac-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.ac-khaki,.ac-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.ac-lime,.ac-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.ac-orange,.ac-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.ac-deep-orange,.ac-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.ac-pink,.ac-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.ac-purple,.ac-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.ac-deep-purple,.ac-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.ac-red,.ac-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.ac-sand,.ac-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.ac-teal,.ac-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.ac-yellow,.ac-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.ac-white,.ac-hover-white:hover{color:#000!important;background-color:#fff!important}
.ac-black,.ac-hover-black:hover{color:#fff!important;background-color:#000!important}
.ac-grey,.ac-hover-grey:hover,.ac-gray,.ac-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.ac-light-grey,.ac-hover-light-grey:hover,.ac-light-gray,.ac-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.ac-dark-grey,.ac-hover-dark-grey:hover,.ac-dark-gray,.ac-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.ac-pale-red,.ac-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.ac-pale-green,.ac-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.ac-pale-yellow,.ac-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.ac-pale-blue,.ac-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.ac-text-amber,.ac-hover-text-amber:hover{color:#ffc107!important}
.ac-text-aqua,.ac-hover-text-aqua:hover{color:#00ffff!important}
.ac-text-blue,.ac-hover-text-blue:hover{color:#2196F3!important}
.ac-text-light-blue,.ac-hover-text-light-blue:hover{color:#87CEEB!important}
.ac-text-brown,.ac-hover-text-brown:hover{color:#795548!important}
.ac-text-cyan,.ac-hover-text-cyan:hover{color:#00bcd4!important}
.ac-text-blue-grey,.ac-hover-text-blue-grey:hover,.ac-text-blue-gray,.ac-hover-text-blue-gray:hover{color:#607d8b!important}
.ac-text-green,.ac-hover-text-green:hover{color:#4CAF50!important}
.ac-text-light-green,.ac-hover-text-light-green:hover{color:#8bc34a!important}
.ac-text-indigo,.ac-hover-text-indigo:hover{color:#3f51b5!important}
.ac-text-khaki,.ac-hover-text-khaki:hover{color:#b4aa50!important}
.ac-text-lime,.ac-hover-text-lime:hover{color:#cddc39!important}
.ac-text-orange,.ac-hover-text-orange:hover{color:#ff9800!important}
.ac-text-deep-orange,.ac-hover-text-deep-orange:hover{color:#ff5722!important}
.ac-text-pink,.ac-hover-text-pink:hover{color:#e91e63!important}
.ac-text-purple,.ac-hover-text-purple:hover{color:#9c27b0!important}
.ac-text-deep-purple,.ac-hover-text-deep-purple:hover{color:#673ab7!important}
.ac-text-red,.ac-hover-text-red:hover{color:#f44336!important}
.ac-text-sand,.ac-hover-text-sand:hover{color:#fdf5e6!important}
.ac-text-teal,.ac-hover-text-teal:hover{color:#009688!important}
.ac-text-yellow,.ac-hover-text-yellow:hover{color:#d2be0e!important}
.ac-text-white,.ac-hover-text-white:hover{color:#fff!important}
.ac-text-black,.ac-hover-text-black:hover{color:#000!important}
.ac-text-grey,.ac-hover-text-grey:hover,.ac-text-gray,.ac-hover-text-gray:hover{color:#757575!important}
.ac-text-light-grey,.ac-hover-text-light-grey:hover,.ac-text-light-gray,.ac-hover-text-light-gray:hover{color:#f1f1f1!important}
.ac-text-dark-grey,.ac-hover-text-dark-grey:hover,.ac-text-dark-gray,.ac-hover-text-dark-gray:hover{color:#3a3a3a!important}
.ac-border-amber,.ac-hover-border-amber:hover{border-color:#ffc107!important}
.ac-border-aqua,.ac-hover-border-aqua:hover{border-color:#00ffff!important}
.ac-border-blue,.ac-hover-border-blue:hover{border-color:#2196F3!important}
.ac-border-light-blue,.ac-hover-border-light-blue:hover{border-color:#87CEEB!important}
.ac-border-brown,.ac-hover-border-brown:hover{border-color:#795548!important}
.ac-border-cyan,.ac-hover-border-cyan:hover{border-color:#00bcd4!important}
.ac-border-blue-grey,.ac-hover-border-blue-grey:hover,.ac-border-blue-gray,.ac-hover-border-blue-gray:hover{border-color:#607d8b!important}
.ac-border-green,.ac-hover-border-green:hover{border-color:#4CAF50!important}
.ac-border-light-green,.ac-hover-border-light-green:hover{border-color:#8bc34a!important}
.ac-border-indigo,.ac-hover-border-indigo:hover{border-color:#3f51b5!important}
.ac-border-khaki,.ac-hover-border-khaki:hover{border-color:#f0e68c!important}
.ac-border-lime,.ac-hover-border-lime:hover{border-color:#cddc39!important}
.ac-border-orange,.ac-hover-border-orange:hover{border-color:#ff9800!important}
.ac-border-deep-orange,.ac-hover-border-deep-orange:hover{border-color:#ff5722!important}
.ac-border-pink,.ac-hover-border-pink:hover{border-color:#e91e63!important}
.ac-border-purple,.ac-hover-border-purple:hover{border-color:#9c27b0!important}
.ac-border-deep-purple,.ac-hover-border-deep-purple:hover{border-color:#673ab7!important}
.ac-border-red,.ac-hover-border-red:hover{border-color:#f44336!important}
.ac-border-sand,.ac-hover-border-sand:hover{border-color:#fdf5e6!important}
.ac-border-teal,.ac-hover-border-teal:hover{border-color:#009688!important}
.ac-border-yellow,.ac-hover-border-yellow:hover{border-color:#ffeb3b!important}
.ac-border-white,.ac-hover-border-white:hover{border-color:#fff!important}
.ac-border-black,.ac-hover-border-black:hover{border-color:#000!important}
.ac-border-grey,.ac-hover-border-grey:hover,.ac-border-gray,.ac-hover-border-gray:hover{border-color:#9e9e9e!important}
.ac-border-light-grey,.ac-hover-border-light-grey:hover,.ac-border-light-gray,.ac-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.ac-border-dark-grey,.ac-hover-border-dark-grey:hover,.ac-border-dark-gray,.ac-hover-border-dark-gray:hover{border-color:#616161!important}
.ac-border-pale-red,.ac-hover-border-pale-red:hover{border-color:#ffe7e7!important}.ac-border-pale-green,.ac-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.ac-border-pale-yellow,.ac-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.ac-border-pale-blue,.ac-hover-border-pale-blue:hover{border-color:#e7ffff!important}
